@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(90deg, #e4e4e4 19%, #e0e0e0 77%);
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s both;
}

.font-personal-1 {
  font-family: 'Sacramento', cursive;
}

.z-index-cover {
  z-index: 2 !important;
}

.shadow-text {
  text-shadow: -5px 3px 10px #7f1936;
}

#icon {
  width: 30px;
}

.shadow-box {
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.7);
}

.fondo-texto {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-cover-index, .bg-cover-expresate, .bg-cover-contacto, .bg-cover-quienes-somos, .bg-cover-obras {
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-cover-index span, .bg-cover-contacto span, .bg-cover-quienes-somos span, .bg-cover-obras span {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-cover-index {
  background-image: url("../assets/fondo_1.jpg") !important;
}

.bg-cover-expresate {
  background-image: url("../assets/fondo_pinceles.jpg") !important;
}

.bg-cover-contacto {
  background-image: url("../assets/contacto_1.jpg") !important;
}

.bg-cover-quienes-somos {
  background-image: url("../assets/fantasy.jpg") !important;
}

.bg-cover-obras {
  background-image: url("../assets/fondo-obras.jpg") !important;
}

.bg-fondo-obras {
  background: linear-gradient(120deg, #5b2139 20%, #631a2f 49%, #630163 86%, #320254 94%);
}

.bg-fondo-obras-2 {
  background: linear-gradient(240deg, #5b2139 20%, #631a2f 49%, #630163 86%, #320254 94%);
}

.bg-fondo-obras-3 {
  background: linear-gradient(90deg, #4b6746 0%, #315936 40%, #184f38 67%, #083028 100%);
}

.bg-pinceles {
  background-image: url("../assets/fondo_pinceles.jpg");
  background-size: cover;
  background-position: center;
}

.bg-jumbotron {
  background-color: #c3bcbf;
}

.bg-jumbotron-box {
  background: radial-gradient(circle, #1e284e 27%, #111032 100%);
}

.bg-expresate-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../assets/expresate_1.jpg");
}

.bg-expresate-2 {
  background-size: cover;
  background-position: center;
  background-image: url("../assets/expresate_2.jpg");
}

.bg-expresate-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../assets/expresate_3.jpg");
}

.bg-form {
  background: radial-gradient(circle, #242942 7%, #05587d 92%, #097791 100%);
}

.btn-fondo-2 {
  color: #ffffff !important;
  border-color: #ffffff !important;
  border: 2px solid !important;
  border-radius: 25px;
}

.btn-fondo-2:hover {
  color: #fff !important;
  background-color: #123948 !important;
  border-color: #123948 !important;
}

.boton button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.boton button.learn-more {
  width: 12rem;
  height: auto;
}

.boton button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.boton button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: #123948;
  border-radius: 1.625rem;
}

.boton button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.boton button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.boton button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.boton button:hover .circle {
  width: 100%;
}

.boton button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.boton button:hover .button-text {
  color: #fff;
}

.boton2 button {
  padding: 1em 2em;
  margin: 1em 0em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.boton2 button:hover {
  background-color: #00c2c3;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.boton2 button:active {
  transform: translateY(-1px);
}

.animacion-1 {
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.animacion-1:hover {
  border: solid 1px;
  color: #fff;
  transform: scale(1.05);
}

.animacion-1:active {
  transform: translateY(-1px);
}

.animacion-2 {
  transition: all 0.5s;
}

.animacion-2:hover {
  transform: scale(1.03);
}

.animacion-texto {
  animation: text-focus-in 1.3s linear both;
}

.animacion-card {
  width: 18rem;
  background-image: linear-gradient(0deg, #d72c60 0%, #6563ed 46%, #6665e9 61%, #9ddd32 100%);
  transition: all .3s;
}

.animacion-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.animacion-card .animacion-card2 {
  width: 18rem;
  background-color: #1a1a1a;
  transition: all .2s;
}

.animacion-card .animacion-card2:hover {
  transform: scale(0.98);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.animacion-input-2 {
  line-height: 23px;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 350px;
}

.animacion-input-2:focus {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #fff;
}

.animacion-input-2::placeholder {
  color: #fff;
}

.animacion-input-2:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

input:hover, textarea:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #fff;
}

.mediaquerie {
  padding-top: 0;
}

@media (max-width: 768px) {
  .mediaquerie {
    padding-top: 20px;
  }
  .mediaquerie-2 {
    flex-direction: column-reverse;
  }
  .navbar-nav, .navbar .container {
    flex-direction: column !important;
  }
  .mediaquerie-4 {
    font-size: calc(0.90rem + .3vw) !important;
  }
  .animacion-input-2 {
    line-height: 17px;
    width: 280px;
  }
}

@media (max-width: 962px) {
  .mediaquerie-3 {
    flex-direction: column !important;
  }
}
