body{
	font-family: 'Raleway', sans-serif;
	background: map-get($gradiantes, body);
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}
.font-personal-1{
	font-family: 'Sacramento', cursive;
}
.z-index-cover{
  z-index: 2!important;
}
.shadow-text{
	text-shadow: -5px 3px 10px #7f1936;
}
#icon{
	width: 30px;
}
.shadow-box{
	box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.7);
}
.fondo-texto{
  background-color: rgba(0, 0, 0, 0.6);
}