$gradiantes:(
		obras1: linear-gradient(45deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%),
		obras2: linear-gradient(240deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%),
		jbox: radial-gradient(circle, rgba(30,40,78,1) 27%, rgba(17,16,50,1) 100%),
		form: radial-gradient(circle, rgba(36,41,66,1) 7%, rgba(5,88,125,1) 92%, rgba(9,119,145,1) 100%),
		body: radial-gradient(circle, rgba(198,208,246,1) 27%, rgba(154,154,170,1) 100%)
);