$gradiantes:(
		obras1: linear-gradient(120deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%),
		obras2: linear-gradient(240deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%),
		obras3: linear-gradient(0deg, rgba(56,15,33,1) 0%, rgba(38,8,48,1) 34%, rgba(2,14,33,1) 64%, rgba(1,18,14,1) 100%),
		quienesSomos: linear-gradient(180deg, rgba(69,0,0,1) 39%, rgba(7,5,47,1) 100%),
		jbox: radial-gradient(circle, rgba(30,40,78,1) 27%, rgba(17,16,50,1) 100%),
		form: radial-gradient(circle, rgba(36,41,66,1) 7%, rgba(5,88,125,1) 92%, rgba(9,119,145,1) 100%),
		body: linear-gradient(90deg, rgba(228,228,228,1) 19%, rgba(224,224,224,1) 77%)
);